@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
html,body {
  height:100vh;
  font-family: 'Oswald', sans-serif;
}
body{
  background-color: black !important;
}
.Nav-item{
  color: white !important;
  margin-top: -20px;
}
.navbar{
  z-index:9; 
 }
 #fullCarousel{
   width:100%;
   top:0;
 }
 #fullCarousel img{
  object-fit: cover;
  object-position: center;
  height: 100vh;
  overflow: hidden;
}
.car-caption {
  top: 60%;
  transform: translateY(-40%);
  bottom: initial;

}
.about-img{
  width:100% !important;
}
.underline-small{
  color:white;
  display:block;
  position:relative;
}
.underline-small::after{
  content:'';
  height:3px;
  width:20%;
  background:#f24432;
  position:absolute;
  margin:auto;
  bottom:-8px;
  left:0; 
  right:0;
   
}
.table-d{
    background:url(https://images.unsplash.com/photo-1525947088131-b701cd0f6dc3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat:no-repeat;
}
.containner{
  background:url(https://images.unsplash.com/photo-1502239608882-93b729c6af43?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-repeat:no-repeat;
}